body {
   font-family: "Acme", sans-serif;
   font-weight: 400;
   background-color: #f4f4f4;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100vh;
   background-image: url('/assets/background.jpeg');
}

h1 {
   font-family: "Alfa Slab One", serif;
   color: #FBF9F1;
}

 
.container {
   background: white;
   padding: 20px;
   border-radius: 12px;
   box-shadow: 0 2px 4px rgba(0,0,0,0.1);
   background-color: rgba(255,255,255,0.7);
}
 
.form-group {
   margin-bottom: 15px;
}
 
.form-group label {
   display: block;
   margin-bottom: 5px;
}
 
.form-group input {
   width: 100%;
   padding: 8px;
   box-sizing: border-box;
}
 
button {
   font-family: "Acme", sans-serif;
   font-weight: 400;
   padding: 8px 12px;
   background-color: #28a745;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}
 
button.update {
   background-color: #007bff;
   margin-right: 10px;
}
 
button.delete {
   background-color: #dc3545;
}

button:hover{
   filter: brightness(90%);
}
 