body {
   font-family: "Acme", sans-serif;
   font-weight: 400;
   background-color: #f4f4f4;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100vh;
   background-image: url('/assets/background.jpeg');  
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   background-attachment: fixed;
}

h1 {
   font-family: "Alfa Slab One", serif;
   color: #FBF9F1;
}

input {
   border-radius: 12px;
   border: 0.7px solid black;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
   background: linear-gradient(145deg, #ffffff, #e6e6e6);
   background: rgba(255,255,255,0.7);
}

.container {
   background: white;
   padding: 20px;
   border-radius: 12px;
   box-shadow: 0 2px 4px rgba(0,0,0,0.1);
   background-color: rgba(255,255,255,0.7);

   max-width: 400px;
}

.form-group {
   margin-bottom: 15px;
}

.form-group label {
   display: block;
   margin-bottom: 5px;
}

.form-group input {
   width: 100%;
   padding: 8px;
   box-sizing: border-box;
}

#memberForm {
   padding: 10px;
   /* border: 0.5px solid black; */
   border-radius: 12px;
}

button {
   font-family: "Acme", sans-serif;
   font-weight: 400;
   padding: 5px 8px;
   font-size: 14px;
   background-color: #28a745;
   color: white;
   border: none;
   border-radius: 12px;
   cursor: pointer;
}

button.update {
   background-color: #007bff;
   margin-right: 10px;
}

button.delete {
   background-color: #dc3545;
}

button:hover {
   filter: brightness(90%);
}

.success-message, .error-message {
   padding: 10px;
   margin: 10px 0;
   border-radius: 12px;
   text-align: center;
}
 
.success-message {
   background-color: #28a745;
   color: white;
}
 
.error-message {
   background-color: #dc3545;
   color: white;
}

#searchBar {
   position: relative;
   border-radius: 12px;
   width: auto; 
   margin: 12px 0;
   padding: 3px; 
   display: flex;
}

#searchInput {
   border: 1px solid black;
   margin: 0;
   width: 100%;
   padding: 5px 10px; 
   box-sizing: border-box; 
   border-radius: 12px; 
}

.search-icon, .clear-icon {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   cursor: pointer;
}

.search-icon {
   right: 25px; 
}

.clear-icon {
   right: 10px; 
}

#userList {
   padding: 10px;
   border: 0.5px solid grey;
   border-radius: 12px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
   background: linear-gradient(145deg, #ffffff, #e6e6e6);
   background: rgba(255,255,255,0.7);
}

div .user-item p {
   margin-top: 5px;
   margin-bottom: 0;
}

div #userListContainer h3 {
   margin: 12px;
   border-bottom: 0.5px solid black;
}